@model AGDAR.Models.DTOs.CreateServiceProductDto
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor context;
@{
    ViewData["Title"] = "Create";
    ViewData["Title"] = "Index";
    string clientId = @context.HttpContext.Session.GetString("ClientId");
    int Id = Int32.Parse(clientId);
}

<h1>Create</h1>

<h4>ServiceProduct</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientNote" class="control-label"></label>
                <input asp-for="ClientNote" class="form-control" />
                <span asp-validation-for="ClientNote" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="@Id" name="clientId" />
            @*<div class="form-group">
                <label asp-for="WorkerId" class="control-label"></label>
                <input asp-for="WorkerId" class="form-control" />
                <span asp-validation-for="WorkerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkerName" class="control-label"></label>
                <input asp-for="WorkerName" class="form-control" />
                <span asp-validation-for="WorkerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkerNote" class="control-label"></label>
                <input asp-for="WorkerNote" class="form-control" />
                <span asp-validation-for="WorkerNote" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

