
@{
    ViewData["Title"] = "ForgotPassword";
}

<h3>Zapomniałeś hasła?</h3>
<br />
<div class="login-container">
    <div>
        <div>
            Podaj email konta, na które zostanie wysłane nowe hasło.
        </div>
        <br />
        <input id="email" type="text" placeholder="Podaj email"/>
    </div>
    <button id="acceptBtn" class="create-btns" onclick="SendEmail()" style="margin-top: 100px; border: none;">Wyślij</button>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function SendEmail() {
        let email = ($("#email").val());
        console.log(email);

        $.ajax({
            url: '/Mail/SendPassword',
            type: 'GET',
            data: { email: email },
            success: function (response) {
            },
        });
    }
</script>
