@model AGDAR.Models.DTO.CategoryDto

@{
    ViewData["Title"] = "Delete";
}

<h3>Usuń tę kategorię</h3>
<hr />
<div>
    <div class="row justify-content-center">
        <div class="login-container">
            <dl class="row">
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
            </dl>
            
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />                
                <div class="d-flex justify-content-between">
                    <a asp-action="Index" class="create-btns h-25" style="margin-top:135px">Powrót</a>
                    <div class="form-group float-end " style="margin-top:127px">
                        <input type="submit" value="Usuń" class="create-btns m-2" style="border:none;" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
