@model AGDAR.Models.DTO.ClientDto

@{
    ViewData["Title"] = "LoginClient";
}
<head>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<h1 class="site-header">Strona Logowania</h1>
<div class="row">
    <div class="login-containers">
        <div class="login-container" style="position: relative;">
            <h5>Jesteś tu pierwszy raz ?</h5><br />
            <h5>Załóż darmowe konto w AGDAR.pl i zyskaj dostęp do najlepszych cen i setek marek zajmujących się produkcją narzędzi.</h5>
            <br /><br />
            <form asp-action="CreateClient" method="get">
                <button class="login-accept-btn">ZAREJESTRUJ SIĘ</button>
            </form>
        </div>
        <div class="login-container">
            <h5>Masz już konto ?</h5>
            <form asp-action="LoginClient">
                <div class="form-group">
                    <label asp-for="Email" class="login-label"></label><br />
                    <input asp-for="Email" class="login-input" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="login-label"></label><br />
                    <input type="password" asp-for="Password" class="login-input" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="d-flex">
                    <input type="checkbox" />
                    <p style="margin:1px 0px 0px 15px">Zapamiętaj mnie</p>
                    <a asp-controller="Mail" asp-action="ForgotPassword" style="margin-top:5px; margin-left: auto; float:right; font-size:12px; text-decoration:none; color:gray">Nie pamiętasz hasła ?</a>
                </div>
                <br />
                <form asp-action="LoginClient" method="get">
                    <button type="submit" class="login-accept-btn">ZALOGUJ SIĘ</button>
                </form>
            </form>
        </div>
        <div class="newsletter-container" style="background-image: url('../images/Tła/newsletter.png');">
            <h4 class="newsletter-title">NEWSLETTER</h4>
            <div class="newsletter-inputs">
                <div class="d-flex">
                    <input id="NewsletterEmail" placeholder="*Podaj e-mail..." class="newsletter-input" />
                </div>
                <div class="checkboxes">
                    <div class="d-flex">
                        <input type="checkbox" id="checkbox_accept" class="checkbox" />
                        <div class="d-flex">
                            <span class="checkbox-content">
                                Chcę być informowany o bieżących promocjach i otrzymywać najnowsze oferty.
                            </span>
                            <button id="NewsletterBtn" class="login-accept-btn" style="padding:2px; margin-left:20px;" onclick="AddEmail()">ZAPISZ SIĘ</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#NewsletterBtn').prop("disabled", true)

    $('#NewsletterEmail').on('input', function () {
        var inputText = $(this).val().trim();
        var emailPattern = /^[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/;
        var checkbox_accept = $('#checkbox_accept');
        if (emailPattern.test(emailInput) && checkbox_accept.is(':checked')) {
            $('#NewsletterBtn').prop('disabled', false);
        } else {
            $('#NewsletterBtn').prop('disabled', true);
        }
    });
    function AddEmail() {
        let email = ($("#NewsletterEmail").val());
        console.log(email);

        $.ajax({
            url: '/Mail/AddToNewsletterEmails',
            type: 'GET',
            data: { email: email },
            success: function (response) {
            },
        });
    }
</script>
