@model AGDAR.Models.DTO.ClientDto

@{
    ViewData["Title"] = "LoginClient";
}

<h1 class="site-header">Strona Logowania</h1>
<div class="row">
    <div class="login-containers">
        <div class="login-container" style="position: relative;">
            <h5>Hej !!!</h5><br />
            <h5>Zaloguj się do systemu.</h5>
            <br /><br />
        </div>
        <div class="login-container">
            <h5>Masz już konto ?</h5>
            <form asp-action="Login">
                <div class="form-group">
                    <label asp-for="Email" class="login-label"></label><br />
                    <input asp-for="Email" class="login-input" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="login-label"></label><br />
                    <input type="password" asp-for="Password" class="login-input" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <br />
                <form asp-action="Login" method="get">
                    <button type="submit" class="login-accept-btn">ZALOGUJ SIĘ</button>
                </form>
            </form>
        </div>     
    </div>
</div>