@model AGDAR.Models.DTO.ClientDto

@{
    ViewData["Title"] = "ChangePassword";
}

<h3>Zmiana hasła</h3>

<div class="row justify-content-center">
    <div class="login-container h-auto">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div hidden class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="SeckondName" class="control-label"></label>
                <input asp-for="SeckondName" class="form-control" />
                <span asp-validation-for="SeckondName" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input id="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input id="confirmPassword" asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="OrderdId" class="control-label"></label>
                <input asp-for="OrderdId" class="form-control" />
                <span asp-validation-for="OrderdId" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-between">
                <a asp-action="Details" asp-route-id="@Model.Id" class="create-btns h-25 mt-2">Powrót</a>
                <div class="form-group">               
                    <input type="submit" value="Zatwierdź" class="create-btns m-2" style="border:none;"/>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var passwordInput = document.getElementById('password');
        passwordInput.value = '';
    });
</script>

