@model AGDAR.Models.DTO.ClientDto

@{
    ViewData["Title"] = "Details";
}

<h3>Dane użytkownika</h3>
<hr />
<div class="admin-details-container m-auto pb-3">
    <div>
        <div class="d-flex">
            <div style="font-weight:700">
                Imie:
            </div>
            <div class="ps-3">
                @Html.DisplayFor(model => model.Name)
            </div>
        </div>
        <div class="d-flex">
            <div style="font-weight:700">
                Nazwisko:
            </div>
            <div class="ps-3">
                @Html.DisplayFor(model => model.SeckondName)
            </div>
        </div>
        <div class="d-flex">
            <div style="font-weight:700">
                Email:
            </div>
            <div class="ps-3">
                @Html.DisplayFor(model => model.Email)
            </div>
        </div>
        <div class="d-flex">
            <div style="font-weight:700">
                Data urodzenia:
            </div>
            <div class="ps-3">
                @Html.DisplayFor(model => model.DateOfBirth)
            </div>
        </div>
    </div>
    <div class="mt-5">
        <a asp-action="Index" class="create-btns">Powrót</a>
    </div>
</div>
